.wrapper {
  max-width: 1200px;
  padding: 3rem 0;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_container select {
  background-color: transparent;
  border: none;
  outline: none;
}

.heading_container select option {
  padding: 1rem;
}

.heading {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.product_list {
  margin: 0;
  padding: 0;
}
